.gif__item {
	width: calc(50% - 0.5em);

	margin-bottom: 1em;

	border-radius: 8px;
	transition: opacity 0.2s ease-in-out;

	background-position: center center;
	background-repeat: no-repeat;

	list-style: none;
}
.gif__item:hover {
	cursor: pointer;
	opacity: 0.8;
}

.gif__item--loading {
	background-color: var(--accent);
	background-image: url("http://localhost:3000/loading.svg");
	background-size: 4rem;
}

.gif__item--loading .gif__img {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.gif__img {
	width: 100%;

	border-radius: 8px;
	opacity: 1;

	display: block;
}

.gif__item > .spinner {
	display: none;
}
.gif__item--loading > .spinner {
	display: block;
}

@media screen and (min-width: 768px) {
	.gif__item {
		width: calc(25% - 0.8em);
		margin-bottom: 1em;
	}
}
