.masonry__container {
	padding: 1em;
}

.masonry__title {
	font-size: 20px;

	text-align: left;
	color: var(--accent-dark);

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.masonry__icon {
	margin-right: 0.2em;

	font-size: 32px;
	font-weight: bold;

	background: var(--fg-gradient);
	background-clip: unset;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.masonry {
	width: 100%;

	margin: 0;
	padding: 0;

	list-style: none;
}
.masonry::after {
	content: "";
	display: block;
	clear: both;
}

.masonry--resizer,
.masonry__item {
	width: calc(50% - 0.5em);
}

.masonry__item {
	margin-bottom: 1em;

	border-radius: 8px;
	transition: opacity 0.2s ease-in-out;

	background-position: center center;
	/* background-color: var(--accent); */
	background-repeat: no-repeat;

	list-style: none;
}

.masonry__item--loading {
	background-color: var(--accent);
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/loading.gif");
}

.masonry__item--loading .masonry__img {
	opacity: 0;
}

.masonry__img {
	width: 100%;

	border-radius: 8px;

	display: block;
}

@media screen and (min-width: 768px) {
	.masonry__container {
		max-width: 1200px;

		padding: 0;
		margin: 0 auto;
	}

	.masonry__title {
		font-size: 26px;
	}

	.masonry__icon {
		font-size: 38px;
	}

	.masonry--resizer,
	.masonry__item {
		width: calc(25% - 0.8em);
	}

	.masonry__item {
		margin-bottom: 1em;
	}
}
