.search-menu__overlay {
	z-index: 1;

	position: fixed;
	top: 0;
	right: 0;

	width: 200vh;
	height: 200vh;

	background-color: var(--accent-dark);
	border-bottom-left-radius: 100%;
	opacity: 1;
	transition: border-bottom-left-radius 0.3s ease-in, width 0.3s ease-in,
		height 0.3s ease-in, opacity 0.3s ease-in;
}
.search-menu--hidden {
	width: 0;
	height: 0;

	opacity: 0;
	transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
}

.search-menu {
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;

	width: 100vw;
	height: 100vh;

	padding: 1em;

	opacity: 1;
	visibility: visible;
	overflow: scroll;
	transition: opacity 0.5s ease-in;
}

.search-menu--hidden .search-menu {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-out;
}

.search-menu__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.suggest__list {
	margin: 1.5em 0 0 0;
	padding: 0;

	list-style: none;
}

.suggest__item {
	padding: 0.8em 0;

	font-weight: 600;
	color: var(--bg-color);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 769px) {
	.search-menu__overlay {
		display: none;
	}
}
