.search {
	border-bottom: 3px solid var(--accent-dark);

	display: flex;
	flex: auto;
}
.search--alt {
	border-bottom: 3px solid var(--bg-color);
}

.search__input {
	width: 0;

	font-family: var(--font-family);
	font-size: 1em;
	font-weight: 600;

	color: var(--accent-dark);
	background: none;

	border: none;
	flex: auto;
}
.search__input:focus-visible {
	outline: none;
}
.search__input::placeholder {
	color: var(--accent-dark);
}

.search--alt .search__input {
	color: var(--fg-color);
}
.search--alt .search__input::placeholder {
	color: var(--placeholder-color);
}

@media screen and (min-width: 768px) {
	.search {
		display: flex;
		align-items: center;
		justify-content: center;

		flex: 0 0 50%;
	}
}
