.search {
	border-bottom: 3px solid var(--accent-dark);

	display: flex;
	flex: 1 1 auto;
}

.search__input {
	font-family: var(--font-family);
	font-size: 1em;
	font-weight: 600;

	color: var(--accent-dark);
	background: none;

	border: none;

	flex: 1 1;
}
.search__input:focus-visible {
	outline: none;
}
.search__input::placeholder {
	color: var(--accent-dark);
}

@media screen and (min-width: 768px) {
	.search {
		display: flex;
		align-items: center;
		justify-content: center;

		flex: 0 0 50%;
	}
}
